@import '../../utilities';
@import 'page-header';

.hero {
  align-items: center;
  background-color: #333;
  background-image: url(#{$images-path}bg.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: $font-family-regular;
  font-size: 1.7rem;
  justify-content: center;
  min-height: 20rem;
  padding: 3rem 0;
  text-align: center;
}
