@import '../../utilities';

.hero {
  align-items: center;
  background-image: url(#{$images-path}bg.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: $font-family-regular;
  justify-content: center;
  min-height: 20rem;
  padding: 3rem ($grid-gutter-width / 2);
  text-align: center;
}

.page-header {
  border-bottom: none;
  font-family: $font-family-accent;
  text-transform: uppercase;
}
