$gpw-primary: #aac513;
$gpw-secondary: #1378c5;

$text-muted: #737373;
$text-muted-inverse: #fefefe;

$text-light: #666;
$text-dark: #737373;

$border-color: #dedede;
$facet-filter-background-color: #eee;

$informea-blue: #1378c6;
