@import '../../utilities';

.#{$view-next-meetings},
.#{$view-past-meetings} {
  .block-title {
    @extend %heading-default;
    color: $gpw-secondary;

    .has-timeline & {
      margin-left: 2rem;
    }

    .icon {
      fill: currentColor;
      height: 2.5rem;
      margin-right: .4em;
      width: 2.5rem;
    }
  }
}
