@import '../../utilities';

.meeting {
  &.teaser {
    h2 {
      font-size: 2.1rem;

      a {
        color: $text-color;

        &:hover, &:focus {
          color: $gpw-secondary;
          text-decoration: none;
        }

      }

    }

    .content {
      color: $text-muted;
      display: flex;

      .field + .field:before {
        content: '|';
        margin: 0 .2em;
      }

    }

  }


  &.teaser {
    position: relative;
    padding-left: 5.5rem;
    padding-top: 1.4rem;
    h2 {
      margin-top: 0;

      // Dot
      &:before,
      &:after {
        border: 1px solid;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: .8rem;
        width: .8rem;
        position: absolute;
        top: 2rem;
        left: -.4rem;
        z-index: 2;
      }
      &:after {
        border-radius: 0;
        background: $body-bg;
        border: none;
        z-index: 1;
        height: 2.4rem;
        width: 2.4rem;
        left: -1.2rem;
        top: 1.2rem;
        z-index: 1;
      }
      .#{$view-past-meetings} &:before {
        background-color: $text-color;
      }
    }

  }

}

.has-timeline {
  // Timeline 'line'
  position: relative;
  padding-left: 0;

  // Dashed line
  &:before {
    background-image: linear-gradient(#000 60%, transparent 0%);
    background-position: right;
    background-repeat: repeat-y;
    background-size: 1px 15px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }

   // Solid lines
  .#{$view-past-meetings} .meeting.teaser {
    &:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:before {
      width: 1px;
      background-color: #000;
      background-position: right;
      background-size: 1px 15px;
      background-repeat: repeat-y;
    }
  }
}
