@import '../../utilities';

.webinar,
.meeting {
  &.teaser {
    position: relative;
    padding-left: 5.5rem;
    padding-top: 1.4rem;
    background-color: $body-bg;

    h2 {
      font-size: 2.1rem;
      margin-top: 0;
      background-color: inherit;

      // Dot
      &:before {
        border: 1px solid;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: .8rem;
        width: .8rem;
        position: absolute;
        top: 2rem;
        left: -.4rem;
        z-index: 2;
        box-shadow: 0 0 0 1rem $body-bg;
        background-color: inherit;
      }

      .view-display-id-past_meetings_pager &:before,
      .block-views-blockmeetings-past-meetings &:before {
        background-color: $text-color;
      }

      a {
        color: $text-color;

        &:hover, &:focus {
          color: $gpw-secondary;
          text-decoration: none;
        }

      }

    }

    .content {
      color: $text-muted;
      display: flex;

      .field + .field:before {
        content: '|';
        margin: 0 .2em;
      }

    }

  }

}

.webinar.teaser {
  h2 > a {
    color: $gpw-primary;

    &:hover,
    &:focus {
      color: darken($gpw-primary, 5%);
    }
  }
  .view-recording-link {
    .view-meetings.view-display-id-next_meetings &,
    .view-meetings.view-display-id-past_meetings & {
      display: none;
    }
  }
}
