@import '../../utilities';
@import 'meetings-agenda';
@import 'meetings-reports';

.webinar, .meeting {
  &.teaser {
    position: relative;
    padding-left: 5.5rem;
    padding-top: 1.4rem;
    padding-right: $grid-gutter-width / 2;
    background-color: $body-bg;

    h2 {
      font-size: 2.1rem;
      margin-top: 0;
      background-color: inherit;

      a {
        color: $text-color;

        &:hover, &:focus {
          color: $gpw-secondary;
          text-decoration: none;
        }

      }

    }

    .content {
      color: $text-muted;
      display: flex;
      flex-wrap: wrap;

      .field + .field:before {
        content: '|';
        margin: 0 .2em;
      }
      .field + .field--name-field-tentative {
        margin: 0 .2em;
        &:before {
          content: none;
        }
      }
    }

    .btn-outline {
      &:hover,
      &:focus {
        background-color: $link-color;
        color: #fff;
      }
    }

  }


}

.webinar.teaser {
  h2 > a {
    color: $gpw-primary;

    &:hover, &:focus {
      color: darken($gpw-primary, 5%);
    }

  }

}

.meeting-subtitle {
  display:inline-flex;
  flex-wrap: wrap;
  .field {
    &:not(:first-child) {
      &:before {
        content: ', ';
      }
    }
  }
}
