#treaty_decisions_content {

  .gpleo-content-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .gpleo-content {

    .gpleo-tab-content-row {
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $text-muted;

      &.last {
        border-bottom: none;
      }

      .gp-leo-row-title {
        .leo-title {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }

  .gpleo-content-footer {

    .gpleo-content-pager {

    }
  }
}
