.view-display-id-thesaurus_videos {
  article {
    padding: .2rem;
  }
}

.block-views-blockhighlighted-courses-thesaurus-courses {
  .featured-course-header {
    color: $gpw-primary;
    text-transform: uppercase;
    font-size: 1.4rem;
    span {
      padding-left: .5rem;
    }
  }
  .featured-course-title {
    background-color: inherit;
    a {
      @extend %title-links;
    }
    padding-top: 1rem;
  }
}

.views-field-title {
  background-color: inherit;
  a {
    @extend %title-links;
  }
  padding-top: 1rem;
}

.term-page-block-suffix {
  text-transform: uppercase;
}

.view-display-id-thesaurus_videos {
  h2 {
    font-size: 1.8rem;
    margin-top: 1.4rem;
    a {
      @extend %title-links;
    }
  }
}

%title-links {
  color: $text-color;
  &:hover, &:focus {
    color: $gpw-secondary;
    text-decoration: none;
  }
}