{#
  paragraph
    tm_title
    ss_search_api_url
    is_nid
#}

<div class="gp-leo-row-title treaty-pargraph">
  <span class="leo-paragraph-text">{{ paragraph.tm_field_official_order[0] }} {{ paragraph.content }}</span>
</div>
