<div class="row">
  <div class="gpleo-document-first-column col-sm-3">
    {# Place for image. #}
  </div>
  <div class="gpleo-document-right-column col-sm-9">
    <div class="gp-leo-row-title">
      <span class="leo-title">{{ doc_item.tm_title[0] }}</span>
      <span class="leo-link">
      <a href="{{ doc_item.ss_search_api_url }}"><i class="glyphicon glyphicon-new-window"></i></a>
    </span>
    </div>
    <div class="gp-leo-row-description">
      <div class="leo-description">{{ doc_item.content }}</div>
    </div>
  </div>

</div>

