<div class="gp-leo-row-title col-sm-12">
  <span class="leo-title">{{ doc_item.tm_title[0] }}</span>
  <span class="leo-link">
    <a href="{{ doc_item.ss_search_api_url }}"><i class="glyphicon glyphicon-new-window"></i></a>
  </span>
</div>
<div class="gp-leo-row-description col-sm-12">
  {# @TODO IMPROTANT!!! Do not forget remove this test text from it. #}
  Test text decription exmaple words without any order bla bla bla
</div>
{% if doc_item.file_links %}
  <div class="gp-leo-row-files col-sm-12">
    <span class="gpleo-download">{{ 'Download :'|t }}</span>
    {% for file_link in doc_item.file_links %}
      <span class="gpleo-file-link">{{ file_link }}</span>
    {% endfor %}
  </div>
{% endif %}
