<div class="gp-leo-row-title">
  <span class="leo-title">{{ doc_item.tm_title[0] }}</span>
  <span class="leo-link">
    <a href="{{ doc_item.ss_search_api_url }}">Link</a>
  </span>
</div>
<div class="gp-leo-row-description">
  {# @TODO IMPROTANT!!! Do not forget remove this test text from it. #}
  Test text decription exmaple words without any order bla bla bla
</div>
{% if doc_item.file_links %}
  <div class="gp-leo-row-files">
    <span class="gpleo-download">{{ 'Download :'|t }}</span>
    {% for file_link in doc_item.file_links %}
      <span class="gpleo-file-link">{{ file_link }}</span>
    {% endfor %}
  </div>
{% endif %}
