@import '../../utilities';

.help,
.highlighted .alert,
.content-wrapper {
  margin-top: 3rem;
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .holygrail-body {
    flex: 1 0 auto;
    display: flex;

    .main-container {
      flex: 1 0 auto;
    }

  }

  @media #{$grid-breakpoint-max} {
    .holygrail-body {
      flex-direction: column;
    }

  }

}
